p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  padding-left: 0;
  margin: 0;
}

button {
  cursor: pointer;
}

a {
  display: block;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
html,
body {
  height: 100%;
  font-family: 'roboto', sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.link {
  text-decoration: none;
}

.list {
  list-style: none;
}

.container {
  width: 100%;
  padding: 0;
  margin: 0 auto;

  @media screen and (min-width: $mobile) {
    width: $mobile;
    padding: 20px;
  }

  @media screen and (min-width: $tablet) {
    width: $tablet;
    padding: 32px;
  }

  @media screen and (min-width: $desktop) {
    width: $desktop;
    padding: 32px;
  }
}

.section {
  margin: 0;
  padding: 0;
}
