.toggle {
  position: absolute;
  display: block;
  bottom: 20px;
  right: 20px;
}
header {
  -webkit-box-shadow: 4px 20px 36px 15px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 4px 20px 36px 15px rgba(0, 0, 0, 0.35);
  box-shadow: 4px 20px 36px 15px rgba(0, 0, 0, 0.35);
}

body {
  background: url(../images/white-bg.jpg);
}
div.container {
  background-color: #ffffff;
  border-radius: 10px;
  -webkit-box-shadow: 2px -8px 47px 3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px -8px 47px 3px rgba(0, 0, 0, 0.75);
  box-shadow: 2px -8px 47px 3px rgba(0, 0, 0, 0.75);
}

.darkTheme {
  background: #272e36 url(../images/bg.jpg);
  h2 {
    color: #ffffff;
  }

  div.container {
    background-color: #272e36;
    border-radius: 10px;
  }
  .footer {
    background-color: #272e36;
    p {
      color: #ffffff;
    }
    a {
      color: #ffffff;
    }
  }

  .modal-main {
    background-color: #272e36;
    h3 {
      color: #ffffff;
    }
    p,
    td {
      color: #ffffff;
    }
  }
}
input[type='checkbox'] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 40px;
  height: 20px;
  background: grey;
  display: block;
  border-radius: 100px;
  position: relative;
  @media screen and (min-width: $tablet) {
    width: 45px;
    height: 25px;
  }
}

label:after {
  content: '';
  position: absolute;
  top: 3px;
  left: 5px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
  @media screen and (min-width: $tablet) {
    width: 17px;
    height: 17px;
    top: 3px;
    left: 3px;
  }
}

input:checked + label {
  border: 1px solid black;
  background: #ff001b;
}

input:checked + label:after {
  left: calc(100% - 5px);
  transform: translateX(-100%);
}

label:active:after {
  width: 12px;
  @media screen and (min-width: $tablet) {
    width: 40px;
  }
}
