.gallery {
  // display: flex;
  // flex-wrap: wrap;
  list-style: none;
}
.gallery__item {
  margin-bottom: 20px;
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  width: 280px;
  margin-bottom: 10px;
}

.gallery__title {
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;

  color: #000000;

  .discription {
    display: flex;
    font-family: 'Roboto';
    font-size: 12px;
    line-height: 14px;
    text-transform: uppercase;

    color: #ff6b08;
  }

  //   .gallery__title {
  //    }
  // .gallery__discription{

  // }
  // .gallery__subdiscriptin{
}
