.gallery {
  list-style: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}
.gallery__item {
  margin-bottom: 20px;
  display: block;
  width: 280px;
  @media screen and (min-width: $tablet) {
    margin: 16;
    width: calc((100% - 70px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 100px) / 3);
  }
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  height: 398px;
  margin-bottom: 10px;
  border-radius: 5px;
  @media screen and (min-width: $tablet) {
    width: 336px;
    height: 445px;
  }
  @media screen and (min-width: $desktop) {
    width: 395px;
    height: 574px;
  }
}

.gallery__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.discription {
  display: flex;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.3;
  color: var(--janre-color);
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
#preloader{
  display: flex;
    align-items: center;
    justify-content: center;
  z-index: 100;
  position: fixed;
  background:rgba(00, 00, 00, 0.4) ;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;

}
// url(../images/Settings.gif)
.loader {
  width: 48px;
  height: 48px;
  position: relative;
  animation: rotate 4s linear infinite;
}

.loader:before,
.loader:after {
  content: "";
  display: block;
  border: 24px solid;
  border-color: transparent transparent #fff #fff;
  position: absolute;
  left: 0;
  top: 0;
  animation: mvx 1s infinite ease-in;
}

.loader:before {
  left: -1px;
  top: 1px;
  border-color: #FF3D00 #FF3D00 transparent transparent;
  animation-name: mvrx;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg)
  }
}

@keyframes mvx {

  0%,
  15% {
    transform: translate(0, 0) rotate(0deg)
  }

  50% {
    transform: translate(-50%, 50%) rotate(180deg)
  }

  100% {
    transform: translate(0%, 0%) rotate(180deg)
  }
}

@keyframes mvrx {

  0%,
  15% {
    transform: translate(0, 0) rotate(0deg)
  }

  50% {
    transform: translate(50%, -50%) rotate(180deg)
  }

  100% {
    transform: translate(0%, 0%) rotate(180deg)
  }
}