.gallery,
.watched,
.queued {
  list-style: none;
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -16px;
  }
}
.gallery__item {
  // outline: 1px solid tomato;
  margin-bottom: 20px;
  display: block;
  width: 280px;
  contain: content;
  border-radius: 5px;
  @media screen and (min-width: $tablet) {
    margin: 16;
    width: calc((100% - 70px) / 2);
  }
  @media screen and (min-width: $desktop) {
    width: calc((100% - 100px) / 3);
  }
  transition: 400ms ease-out;
  &:focus,
  &:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0px 10px 25px 3px var(--janre-color);
  }
  &:focus .gallery__img,
  &:hover .gallery__img {
    @media screen and (min-width: $mobile) {
      transform: scale(1.05);
      border-radius: 0 0 20px 20px;
    }
    @media screen and (min-width: $tablet) {
      transform: scale(1.08);
      border-radius: 0 0 40px 40px;
    }
    @media screen and (min-width: $desktop) {
      transform: scale(1.1);
      border-radius: 0 0 65px 65px;
    }
  }
}
.overflowHidden {
  overflow: hidden;
}
.gallery__link {
  text-decoration: none;
}
.gallery__img {
  height: 398px;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 0 0 5px 5px;
  @media screen and (min-width: $tablet) {
    height: 445px;
  }
  @media screen and (min-width: $desktop) {
    height: 574px;
  }
  transition: var(--transition-duration, --transition-timing-function);
}

.meta {
  padding: 5px;
  position: relative;
  transition: var(--transition-duration, --transition-timing-function);
}
.gallery__title {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;
  text-transform: uppercase;
  color: #000000;
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
.discription {
  display: flex;
  font-family: 'Roboto';
  font-size: 12px;
  line-height: 1.3;
  color: var(--janre-color);
  @media screen and (min-width: $desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}
#back-top {
  display: none;
  width: 6vmin;
  height: 6vmin;
  position: fixed;
  bottom: 30px;
  right: 50px;
  transform: rotate(-45deg);

  &::before {
    content: '';
    width: 100%;
    height: 100%;
    border-width: 0.8vmin 0.8vmin 0 0;
    border-style: solid;
    border-color: var(--janre-color);
    transition: var(--transition-duration, --transition-timing-function);
    display: block;
    transform-origin: 100% 0;
  }

  &:after {
    content: '';
    float: left;
    position: relative;
    top: -100%;
    width: 104%;
    height: 100%;
    border-width: 0 0.8vmin 0 0;
    border-style: solid;
    border-color: var(--janre-color);
    transform-origin: 85% 0;
    transition: var(--transition-duration, --transition-timing-function);
  }

  &:hover::after {
    transform: rotate(45deg);
    border-color: var(--button-hover-color);
    height: 120%;
  }
  &:hover::before {
    border-color: var(--button-hover-color);
    transform: scale(0.8);
  }
  &:hover {
    cursor: pointer;
  }
}
.gallery__vote{
  color: var(--main-text-color);
  background-color:var(--button-color);
  font-size: 12px;
    line-height: 1.16;
    padding: 3px 12px 1px 12px;
    border-radius: 5px;   
    margin-left: 7px;
}
