.header_bgr {
  position: relative;
  padding: 15px;
  height: 230px;
  background-image: url(../images/bgr-header-mob.jpg);
  background-size: cover;
  @media screen and (min-width: $tablet) {
    height: 219px;
    background-image: url(../images/bgr-header-tablet.jpg);
  }

  @media screen and (min-width: $desktop) {
    background-image: url(../images/bgr-header-desk.jpg);
    width: $desktop;
    height: 216px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
.header_lib__bgr{
  position: relative;
    padding: 15px;
    height: 230px;
    background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ), url(../images/mob.png);
    background-size: cover;
  
    @media screen and (min-width: $tablet) {
      height: 219px;
      background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ), url(../images/tablet.png);
    }
  
    @media screen and (min-width: $desktop) {
      background-image:linear-gradient(
      to right,
      rgba(0, 0, 0, 0.56),
      rgba(0, 0, 0, 0.56)
    ), url(../images/desk.png);
      width: $desktop;
      height: 216px;
      padding: 32px;
      margin-left: auto;
      margin-right: auto;
    }
}
.none {
  display: none;
  @media screen and (min-width: $tablet) {
    display: inline-block;
  }
}

.header_nav {
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding-bottom: 40px;
  @media screen and (min-width: $tablet) {
  }
}

.header_icon {
  margin-right: 10px;
}

.header_href {
  margin-left: auto;
  text-decoration: none;
  color: #ffffff;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  &:first-child {
    margin-left: 0px;
  }
  &:hover,
  :focus {
    color: red;
  }
  @media screen and (min-width: $tablet) {
    &:first-child {
      font-weight: 500;
      font-size: 30px;
      line-height: 35px;
    }
  }
}

.hover:hover .header_icon .hover:focus .header_icon {
  fill: red;
}

.header_href:last-child {
  margin-left: 40px;
}
/////////////////Active page//////////////////////////////
.current {
  float: left;
  display: block;
  text-align: center;
  border-bottom: 3px solid transparent;
}

.current:hover {
  border-bottom: 3px solid red;
}

.current {
  border-bottom: 3px solid red;
}

////////////////////////////FORMSTYLE////////////////////////
.input {
  width: 100%;
  background-color: transparent;
  border: none;
  border-bottom: 0.5px solid #ffffff;
  color: #ffffff;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  @media screen and (min-width: $mobile) {
    width: 400px;
  }
  @media screen and (min-width: $tablet) {
    width: 400px;
  }
}

.input:active,
:hover,
:focus {
  outline: 0;
  outline-offset: 0;
}

.form_pdg {
  padding-bottom: 50px;
}
.search-form {
  display: flex;
  justify-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.button {
  border: medium none;
  background-image: none;
  background: transparent;
  float: left;
  background-color: transparent;
  right: 20px;
  border-bottom: 0.5px solid #fff;
}
.error-output {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.14;
  color: #ff001b;
}

///////////FIXED HEADER///////////////////
.fixed-header {
  position: fixed;
  z-index: 25;
  left: 50%;
  top: 0;
  height: 100px;
  transform: translate(-50%, 0);
  transition: var(--transition-duration, --transition-timing-function);
  @media screen and (max-width: 1279px) {
    height: 66px;
    width: 100%;
  }
}
.fixed-header.hide {
  transform: translateY(-66px);
}
.fixed-form {
  position: absolute;
  top: 36px;
  left: 50%;
  transform: translate(-50%);
  @media screen and (max-width: 767px) {
    top: 15px;
    left: 35%;
    width: 200px;
  }
  @media screen and (min-width: $tablet) and (max-width: 1279px) {
    top: 20px;
    left: 44%;
    width: 260px;
  }
}
.hidden-head-href {
  @media screen and (max-width: 550px) {
    display: none;
  }
}
.fixed-toggle {
  display: block;
  position: absolute;
  right: 25px;
  bottom: 24px;

  @media screen and (min-width: 550px) {
    right: 185px;
  }
  @media screen and (min-width: $tablet) {
    bottom: 13px;
    right: 220px;
  }
  @media screen and (min-width: $desktop) {
    bottom: 30px;
    right: 256px;
  }
}
.hidden-error {
  @media screen and (max-width: 1279px) {
    display: none;
  }
}

.fixed-header__button{
  position: fixed;
  top: 20px;
  right: 100px;
  @media screen and (min-width: 438px) {
right: 250px;
  }
 
  @media screen and (min-width: $tablet) {
      top: 20px;
        right: 300px;
    }
  
    @media screen and (min-width: $desktop) {
      top: 40px;
      right: 550px;
    }

        button {
            width: 80px;
            height: 30px;
}
}