.header_bgr{
    padding: 15px;
    background-image: url(../images/bgr-header-mob.jpg);
    @media screen and (min-width: $tablet) {
        background-image: url(../images/bgr-header-tablet.jpg);
    }
    @media screen and (min-width: $desktop) {
        background-image: url(../images/bgr-header-desk.jpg);
        width: $desktop;
        padding: 32px;
        margin-left: auto;
        margin-right: auto;
    }
}

.none {
    display: none;
        @media screen and (min-width: $tablet){
            display:inline-block;
        }
}

.header_nav {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    @media screen and (min-width: $tablet){
        justify-content: center;
    }
}

.header_icon {
        @media screen and (min-width: $tablet){
        margin-right: 8px;
    }
}

.sss {
    fill: #323232;
}
.header_href {
    margin-left: auto;
    text-decoration: none;
    color: #ffffff;
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
    &:first-child{
        margin-left: 0px;
    }
    &:hover,
    :focus  {
        color: red;
        
    }
    @media screen and (min-width: $tablet) {
        &:first-child{
            font-weight: 500;
            font-size: 30px;
            line-height: 35px;
        }
    }
}

.hover:hover .header_icon .hover:focus .header_icon {
    fill: red;
}

.header_href:last-child{
    margin-left: 40px;
}
/////////////////Active page//////////////////////////////
.current {
    float: left;
    display: block;
    text-align: center;
    border-bottom: 3px solid transparent;
}

.current:hover{
    border-bottom: 3px solid red;
}

.current {
    border-bottom: 3px solid red;
}

////////////////////////////FORMSTYLE////////////////////////
.input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom:0.5px  solid #FFFFFF;
    color: #ffffff;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    @media screen and (min-width: $tablet){
        width: 400px;
    }
}

.input:active,
    :hover,
    :focus {
    outline: 0;
    outline-offset: 0;
}


.form_pdg {
    padding-bottom: 50px;
}
.search-form {
    display: flex;
    justify-items: center;
    justify-content: center;
}

.button {
    border: medium none;
    background-image: none;
    background: transparent;
    float: left;
    background-color: transparent;
    right: 20px;
}
