.tui-pagination {
  &.custom-tui-pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 40px;
    margin-top: 0;
    margin-top: 40px;
    @media screen and (min-width: 768px) {
      margin-top: 60px;
    }
    .tui-page-btn {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      font-size: 12px;
      line-height: 16px;
      font-weight: 500;
      border-radius: 5px;
      border: 0;
      //   color: var(--main-text-color);
      color: black;
      min-width: 40px;
      margin-right: 0;
      margin-left: 0;

      &.tui-is-selected {
        background: var(--janre-color);
        border-left-color: var(--janre-color);
        border-right-color: var(--janre-color);
      }
      &.tui-prev,
      &.tui-next {
        background-color: #f7f7f7;
      }
    }
    .tui-is-disabled {
      .tui-ico-prev,
      .tui-ico-next {
        background-position: 0 0;
      }
    }

    strong {
      background: transparent;
    }
    .tui-last,
    .tui-first {
      display: none;
    }
  }
}
.tui-pagination.custom-tui-pagination .tui-page-btn {
  @media screen and (max-width: 769px) {
    min-width: 30px;
  }
}
