@import 'node_modules/@glidejs/glide/src/assets/sass/glide.core';
@import 'node_modules/@glidejs/glide/src/assets/sass/glide.theme';

.slider-wrapper {
    background-color: inherit;
    padding-bottom: 20px;
    font-size: 13px;
  
    @media screen and (max-width: 1023px) {
      display: none;
    }
  }
  
  .glide__arrow {
    // display: none;
    // background-color: #ff6b08;
    position: absolute;
    display: block;
    top: 50%;
    z-index: 2;
    color: white;
    text-transform: uppercase;
    padding: 9px 12px;
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 4px;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
    text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
    opacity: 1;
    cursor: pointer;
    transition: opacity 150ms ease, border 300ms ease-in-out;
    transform: translateY(-50%);
    line-height: 1;
    &:hover,
  &:focus {
    box-shadow: 0px 0px 5px 0px #ffffff;
  }

  }

  .slider-card {
    margin-right: 8px;
  }
  
  
  .slider-title {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.17;
    text-transform: uppercase;
    text-shadow: 4px 4px 2px #969696;
  }

  .slider-image {
    border-radius: 5px;
    transition: var(--transition-duration, --transition-timing-function);
     &:focus, &:hover {
      transform: scale(1.05);
    }
  }

  .rating-slider {
    position: absolute;
    bottom: 0;
    right: 0;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    width: 38px;
    height: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.1;
    color: #ffffff;
    background-color: #ff6b08;
    border-radius: 5px;
  }

  .catch-error-pagination {
    width: 10%;
  }


  
  