@import './common';

@import './utils/vars';
@import './base/reset';
@import './utils/mixins';
@import './utils/hidden';

@import './header';
@import './pagination';
@import './gallery';
@import './modal_main';
@import './modal_footer';
@import './footer';
@import './header_my_library';
@import './slider';
@import './dark-mode';
@import './loader';
