<h6>hello footer</h6>




<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-Heart"></use>   </svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-Heart1"></use></svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-Heart2"></use></svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-Heart3"></use></svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-close"></use></svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-film"></use></svg>
<svg class="products-arrow" width="40" height="40">
            <use href="./images/symbol-defs.svg#icon-search"></use></svg>
     
<script type="module" src="./js/footer.js"></script>