<header class="heder_bgr container" >
        <nav class="heder_nav">
        <a href="./index.html"  class="heder_href href">
            <svg class="heder_icon" width="24" height="24">
                <use href="./images/symbol-defs.svg#icon-film"></use>
            </svg><span class="none">Filmoteka</span></a>
        <a href="" class="heder_href  curent href">HOME</a>
        <a href="" class="heder_href  href">MY LIBRARY</a>
        </nav>

    <div class="form_pdg">
        <form class="search-form" id="search-form">
            <input class="input" 
            type="text" 
            placeholder="Movie search"
            name="searchQuery"
            autocomplete="off"
            >
            <button class="button" type="submit">
                <svg class="form_icon" width="20" height="20">
                    <use use href="./images/symbol-defs.svg#icon-search"></use>
                </svg>
            </button>
        </form>
        </div>
</header>



<script type="module" src="./js/header.js"></script>