<header class="heder_bgr container">
  <nav class="heder_nav">
    <a href="./index.html" class="heder_href href">
      <svg class="heder_icon" width="24" height="24">
        <use href="./images/symbol-defs.svg#icon-film"></use></svg
      ><span class="none">Filmoteka</span></a
    >
    <a href="./index.html" class="heder_href href">HOME</a>
    <a href="./library.html" class="heder_href curent href">MY LIBRARY</a>
  </nav>

  <div class="form_pdg">
    <div class="buttons-library">
      <button class="btn_library" id="btn_watched" type="submit">
        WATCHED
      </button>
      <button class="btn_library" id="btn_queue" type="submit">QUEUE</button>
    </div>
  </div>
</header>

<script type="module" src="./js/header_my_library.js"></script>
