<div id="preloader">
  <div class="loader"></div>
</div>


<header class="header_bgr ">
  <div container>
    <nav class="header_nav">
      <a href="./index.html" class="header_href href ">
        <svg class="heder_icon" width="24" height="24">
          <use class="sss" href="./images/symbol-defs.svg#icon-film"></use>
        </svg><span class="none">Filmoteka</span></a>
      <a href="./index.html" id="ref_home" class="header_href  current href">HOME</a>
      <a href="" id="ref_my-library" class="header_href  href">MY LIBRARY</a>
    </nav>

    <div class="form_pdg">
      <form class="search-form" id="search-form">
        <input class="input" type="text" placeholder="Movie search" name="searchQuery" autocomplete="off">
        <button class="button" type="submit">
          <svg class="form_icon" width="20" height="20">
            <use use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
    </div>
  </div>

  <div class="buttons_pdg visually-hidden">
    <div class="buttons-library">
      <button class="btn_library" id="btn_watched" type="submit">
        WATCHED
      </button>
      <button class="btn_library" id="btn_queue" type="submit">QUEUE</button>
    </div>
  </div>

  <div class="toggle">
    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
  </div>
  </div>
</header>


<script type="module" src="./js/header.js"></script>
<script type="module" src="./js/header_my_library.js"></script>
<script type="module" src="./js/dark-mode.js"></script> 