<header class="header_bgr">
  <div>
    <nav class="header_nav">
      <a href="./index.html" class="header_href href ">
        <svg class="header_icon" width="24" height="24">
          <use class="sss" href="./images/symbol-defs.svg#icon-film"></use>
        </svg><span class="none">Filmoteka</span></a>
        <a href="./index.html" class="header_href  current href" id="activ-homeJs">HOME</a>
        <a href="" class="header_href  href" id="activ-libraryJs">MY LIBRARY</a>
    </nav>

    <div class="form_pdg">
      <form class="search-form" id="search-form">
        <input class="input" type="text" placeholder="Movie search" name="searchQuery" autocomplete="off">
        <button class="button" type="submit">
          <svg class="form_icon" width="20" height="20">
            <use href="./images/symbol-defs.svg#icon-search"></use>
          </svg>
        </button>
      </form>
      <div class="error-output"></div>
    </div>
  </div>

  <div class="form_pdg">
    <div class="buttons-library visually-hidden">
      <button class="btn_library" id="btn_watched" type="submit">
        WATCHED
      </button>
      <button class="btn_library" id="btn_queue" type="submit">QUEUE</button>
    </div>
  </div>

  <div class="toggle">
    <input type="checkbox" id="switch" /><label for="switch">Toggle</label>
  </div>
  </div>
</header>


<script type="module" src="./js/header.js"></script>
<script type="module" src="./js/header_my_library.js"></script>
