<div class="backdrop-team d-none-team" data-modal-team>
  <div class="container footer__modal">
    <h2 class="footer__modal--name">Team "Easy-Start"</h2>
    <button class="icon--close" data-modal-team-close>
      <svg width="18" height="18">
        <use href="./images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="footer__modal--list list">
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/yuliia.jpg" alt="Yuliia" />
        </div>
        <div>
          <h3>Yuliia</h3>
          <p>Scrum Master</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/oleg.jpg" alt="Oleg" />
        </div>
        <div>
          <h3>Oleg</h3>
          <p>Team Lead</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/andriy.jpg" alt="Andriy" />
        </div>
        <div>
          <h3>Andriy</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/maksim.jpg" alt="Maksim" />
        </div>
        <div>
          <h3>Maksim</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/margarita.jpg" alt="Margarita" />
        </div>
        <div>
          <h3>Margarita</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/oleksandr.jpg" alt="Oleksandr" />
        </div>
        <div>
          <h3>Oleksandr</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/ruslan.png" alt="Ruslan" />
        </div>
        <div>
          <h3>Ruslan</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/vania.jpg" alt="Vania" />
        </div>
        <div>
          <h3>Vania</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/viktorm.jpg" alt="Viktor" />
        </div>
        <div>
          <h3>Viktor</h3>
          <p>Team Mate</p>
        </div>
      </li>
      <li class="footer__modal--card">
        <div class="footer__modal--card-img">
          <img src="./images/team/viktorp.jpg" alt="Viktor" />
        </div>
        <div>
          <h3>Viktor</h3>
          <p>Team Mate</p>
        </div>
      </li>
    </ul>
  </div>
</div>

<script type="module" src="./js/modal_footer.js"></script>
