<div class="backdrop is-hidden" data-modal>
  <div class="modal-main">
    <button type="button" class="modal_close_btn" data-modal-close>
      <svg class="modal-icon" width="20" height="20">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
      </svg>
    </button>
    <div class="modal-container"></div>
    <div class="buttons">
      <button class="add-to-watch" type="button">add to watched</button>
      <button class="add-to-queue" type="button">add to queue</button>
    </div>
  </div>
</div>

<script type="module" src="./js/modal_main.js"></script>
