<div class="backdrop is-hidden" data-modal>
<div class="modal-main">
    <button type="button" class="modal-close-btn btn" data-modal-close>
      <svg class="modal-icon" width="14" height="14">
        <use href="/src/images/symbol-defs.svg#icon-close"></use>
        </svg>
        </button>
    <div class="modal-img">
      <img src="/src/images/Rectangle 18.jpg" alt="picture" class="image" />
    </div>
    <div class="modal-rest">
      <h3 class="modal-title">A FISTFUL OF LEAD</h3>
      <div class="modal-info">
        <div class="modal-description">
          <p class="info-item">Vote / Votes</p>
          <p class="info-item">Popularity</p>
          <p class="info-item">Original Title</p>
          <p class="info-item">Genre</p>
        </div>
        <div class="modal-count">
          <p class="count" id="vote">7.3 / 1200</p>
          <p class="count">100.2</p>
          <p class="count">A FISTFUL OF LEAD</p>
          <p class="count" id="genre">Western</p>
        </div>
      </div>
      <p class="about">About</p>
      <p class="about-info">
        Four of the West’s most infamous outlaws assemble to steal a huge stash
        of gold from the most corrupt settlement of the gold rush towns. But not
        all goes to plan one is killed and the other three escapes with bags of
        gold hide out in the abandoned gold mine where they happen across
        another gang of three – who themselves were planning to hit the very
        same bank! As tensions rise, things go from bad to worse as they realise
        the bags of gold are filled with lead... they’ve been double crossed –
        but by who and how?
      </p>
      <div class="buttons">
        <button class="add-to-watch" type="button">add to watch</button>
        <button class="add-to-queue" type="button">add to queue</button>
        <button class="remove-to-watch is-hidden" type="button">
          remove-to-queue
        </button>
        <button class="remove-to-queue is-hidden" type="button">
          remove-to-watch
        </button>
      </div>
    </div>
  </div>
</div>
<script type="module" src="./js/modal_main.js"></script>
