
<!-- 
<button type="button" class="header__button js-open-menu" aria-expanded="false" aria-controls="mobile-menu">
    <svg width="40" height="40" aria-label="Открыть мобильное меню">
        <use class="icon--mobile-menu" href="./images/icons.svg#icon-mobile-menu"></use>
    </svg>
</button> -->

<div class="container footer__modal">
    <h2 class="footer__modal--name">Team "Easy-Start"</h2>
    <!-- <ul class="footer__modal--list">
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="" alt="">
            <div>
                <h3></h3>
                <p></p>
            </div>
        </li>
    </ul> -->



</div>







<script type="module" src="./js/modal_footer.js"></script>
