<div class="backdrop" data-modal>
                
<div class="container footer__modal">
    <h2 class="footer__modal--name">Team "Easy-Start"</h2>
 <button class="icon--close" data-modal-close>
                <svg width="18" height="18">
                  <use href="./images/symbol-defs.svg#icon-close"></use>
                </svg>
              </button>

    <ul class="footer__modal--list list">
        <li class="footer__modal--card">
            <img src="./images/Team/Yuliia.jpg" alt="Yuliia">
                <div>
                    <h3>Yuliia</h3>
                    <p>Scrum Master</p>
                </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Oleg.jpg" alt="Oleg">
                <div>
                    <h3>Oleg</h3>
                    <p>Team Lead</p>
                </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Andriy.jpg" alt="Andriy">
            <div>
                <h3>Andriy</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Maksim.jpg" alt="Maksim">
            <div>
                <h3>Maksim</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Margarita.jpg" alt="Margarita">
            <div>
                <h3>Margarita</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Oleksandr.jpg" alt="Oleksandr">
            <div>
                <h3>Oleksandr</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/logo.png" alt="Ruslan">
            <div>
                <h3>Ruslan</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/Vania.jpg" alt="Vania">
            <div>
                <h3>Vania</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/ViktorM.jpg" alt="Viktor">
            <div>
                <h3>Viktor</h3>
                <p>Team Mate</p>
            </div>
        </li>
        <li class="footer__modal--card">
            <img src="./images/Team/ViktorP.jpg" alt="Viktor">
            <div>
                <h3>Viktor</h3>
                <p>Team Mate</p>
            </div>
        </li>
    </ul>



</div>
</div>






<script type="module" src="./js/modal_footer.js"></script>
